
.root {
  width: 100%;
  height: 100%;
  background: #cf9235;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .row {
    display: flex;
    gap: 20px;

    .col {
      flex: 1;
    }
  }
}