
.root {

  .front {
    width: 200px;
    height: 200px;
    background: #801e1e;
    margin: 20px auto;
    border-radius: 10px;
  }

  .back {
    width: 200px;
    height: 200px;
    background: #301e80;
    margin: 20px auto;
    border-radius: 10px;
  }
}