
.root {

  .front {
    position: relative;
    width: 200px;
    height: 200px;
    background: #801e1e;
    margin: 20px auto;
    border-radius: 10px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }

    .btn {
      position: absolute;
      top: 0;
      left: 0;
      width: 100px;
      height: 100px;
      background-color: chartreuse;
      border: none;
    }
  }

  .back {
    width: 200px;
    height: 200px;
    background: #301e80;
    margin: 20px auto;
    border-radius: 10px;
  }
}